<!-- public/Authentication/changepassword.html -->

<div class="register-page">
    <h1>DREAM</h1>
  <div class="form">
    <form id="register-form" role="form">
      <input type="email" class="form-control" id="username" placeholder="email" name="username" ng-model="user.username"/>
      <input type="password" class="form-control" id="oldpassword" placeholder="old password" name="oldpassword" ng-model="user.oldpassword"/>
      <input type="password" class="form-control" id="newpassword" placeholder="new password" name="newpassword" ng-model="user.newpassword"/>
      <button type="submit" ng-click='changePassword(user)' class="btn btn-primary btn-block">Change Password</button>
      <div class="message"><a ui-sref='authentication.login' class="btn btn-link">Log in</a></div>
      <div class="message"><a ui-sref='authentication.register' class="btn btn-link">Create an Account</a></div>
      <div class="message"><a ui-sref='authentication.reset' class="btn btn-link">Reset Password</a></div>
    </form>
  </div>
</div>
