<!-- public/Authentication/register.html -->

<div class="register-page">
    <h1>DREAM</h1>
  <div class="form">
    <form id="register-form" role="form">
      <input type="email" class="form-control" id="email" placeholder="email" name="email" ng-model="user.email"/>
      <input type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="user.password"/>
      <input type="password" class="form-control" id="password" placeholder="repeat password" name="password" ng-model="user.password"/>
      <button type="submit" ng-click='register(user)' class="btn btn-primary btn-block">Register</button>
      <div class="message">Already have an account?<a ui-sref='authentication.login' class="btn btn-link">Log in</a></div>
    </form>
  </div>
</div>
