<!-- public/Authentication/resetpassword.html -->

<div class="register-page">
    <h1>DREAM</h1>
  <div class="form">
    <form id="register-form" role="form">
      <input type="email" class="form-control" id="oldusername" placeholder="email" name="oldusername" ng-model="user.username"/>
      <button type="submit" ng-click='resetPassword(user)' class="btn btn-primary btn-block">Reset Password</button>
      <div class="message"> <a ui-sref='authentication.register' class="btn btn-link">Create an account</a></div>
      <div class="message"><a ui-sref='authentication.login' class="btn btn-link">Log in</a></div>
      <div class="alert alert-danger" ng-show="reserror != '' ">
        <strong>Error: </strong> {{reserror.data.code}}
      </div>
    </form>
  </div>
</div>
