@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf');
}

* {
    font-family: 'Lato';
}

#nav_left {
  background: #EBEBEB;
  border-radius: 5px;
  padding: 0 15px 25px 15px;
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 3px solid #EEFF41;
    padding: 4px;
}

.card {
    background: #fff;   
    padding: 20px;
}

.card_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.x_title h2 small {
    margin-left: 10px;
}

.x_title span {
    color: #BDBDBD;
}

.x_content {
    
}

.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.glyphicon-menu-hamburger {
    padding-right: 10px;
    font-size: 1.3em;
    vertical-align: -5px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

#dreamshirt {
    padding-left: 5px;
    height: 40px;
    width: auto;
    vertical-align: middle;
}

#nav-drop-home {
    padding-top: 10px;
}

#nav-drop-logout {
    padding-bottom: 8px;
}

#dream-nav {
    font-size: 20px;
    vertical-align: -4px;
}
